<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>115803564064-rf42iibtk97d276enbtq2g1k685ur14h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.115803564064-rf42iibtk97d276enbtq2g1k685ur14h</string>
	<key>API_KEY</key>
	<string>AIzaSyAwv0lHM-bbUHkcvekhAqpsJG9-FCgzfz8</string>
	<key>GCM_SENDER_ID</key>
	<string>115803564064</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.footballApp</string>
	<key>PROJECT_ID</key>
	<string>fluttscore</string>
	<key>STORAGE_BUCKET</key>
	<string>fluttscore.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:115803564064:ios:d5ae05a0e45d206fee7445</string>
</dict>
</plist>